*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --display-color: rgb(109, 192, 109);
  --calculator-color: rgb(4, 8, 12);
  --text-color: rgb(4, 31, 90);
  --bg-color: rgb(15, 16, 17);
}

body {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, rgb(27, 2, 51), rgb(26, 0, 1));
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}
.calculator > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1/-1;
  background-color: rgba(12, 12, 12, 0.753);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
}
.output .prev-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.output .cur-operand {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
